%html
  %head
    %title= find_title(@resource)
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/style.css"}
    %link{:rel=>"alternate", :type=>"text/plain", :href=>@resource.uri.sub(/\#.*$/,'')+".nt"}
    %link{:rel=>"alternate", :type=>"application/rdf+xml", :href=>@resource.uri.sub(/\#.*$/,'')+".rdf"}    
  %body
    =yield
    
    %ul.otherFormats
      %li
        %a{:href=>@resource.uri.sub(/\#.*$/,'')+".rdf"} RDF/XML
      %li
        %a{:href=>@resource.uri.sub(/\#.*$/,'')+".nt"} N-Triples